<div class="container-fluid text-center bottom-container">
    <footer>
        <img src="static/images/twitter.webp"width="20px"height="20px">
        <img src="static/images/linkedin.webp"width="20px"height="20px">
        <img src="static/images/insta.webp"width="20px"height="20px">
        <img src="static/images/facebook.webp"width="20px"height="20px">
        <img src="static/images/whatsapp.webp"width="20px"height="20px"></br></br>

        <p>Copyright &copy;2020-2021. The Invincible Bank. All rights reserved.</p>
    </footer>
</div>


